/*
 vim: sta et sw=2
 */

body {
  background-color: White;
  color: black;
  padding: 1% 2%;
  font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
}

/*
 * Proper indents and margins.
 */
p {
  text-indent : 0;
  text-align: justify;
  margin: 0.75em 1.5em;
}


blockquote {
  margin-left: 2em;
  margin-right: 2em;
  padding-left : 1em;
}

pre {
  margin-left: 2em;
  margin-right: 2em;
  padding-left : 1em;
  background-color: #F8F8F8;
}

.qandaset table {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

  
ol, ul, dl {
  margin-left: 2.25em;
  margin-right: 2.25em;
}

li p, dd p, td p {
  margin: 0 0.25em 0.5em;
}
  


/*
 * Most browsers use "Courier New" whereas "Andale Mono" is much
 * better for most purposes.  
 */
tt {
  font-family : "Andale Mono", "Courier New", monospace;
}

/* 
 * Much nicer-looking definition lists 
 */
.toc dl {
  background-color : #FDFAFF;
  color : Black;
  padding: 0.5em;
}
.toc dl dl {
  margin: 0;
  padding: 0;
}

dd p {
  text-indent : 0
}

b.command {
  font-weight: normal;
  font-family: "Andale Mono", monospace;
}

em.replaceable code {
  font-family: "Times New Roman", Times, serif;
}

span.property {
  font-style: italic
}

span.lineannotation {
  font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
  white-space : normal;
  background-color: #EEEEEE;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

pre.screen b.userinput {
  font-weight: normal;
}

.citerefentry .refentrytitle {
  font-weight: bold;
}

/* 
 * Mozilla's default is still using ASCII quotes! Change it.
 */
q { 
  quotes: '\201C' '\201D' 
}

a:link { color: blue }
a:visited { color: navy }
a:hover {
  background-color : #ffffcc
}

/* Get rid of the ugly underline and borders */
@media screen {
  a { text-decoration: none; }
}
a img { border: 0; }


/* 
 * Make headings stand out
 */
h1 { text-align: center }
h1,h2,h3,h4,h5,h6 {
  font-family : "Times New Roman", Times, serif;
}

h2 {  
  margin-top: 1.0em;
  margin-bottom: 0.5em;
}

h3 {
  margin-left: 0.75em;
}

 
hr { 
  border: solid thin black;
  color: black;
}

p.footer-homepage {
  font-size: small;
  text-align: center;
  margin: 0;
}

div.equation {
  margin-left: 2em;
  margin-right: 2em;
}


/* 
 * Footnotes 
 */

.footnote {
  font-size : small;
  text-indent : 0
}





/* 
 * Address block at the end of document 
 */
address {
  background-color : #FFFAF0;
  font-style : italic;
}

.last-modified {
  font-size: x-small;
  font-style : normal;
}
